<h1>Admin::Shops#edit</h1>
<p>Find me in app/views/admin/shops/edit.html.erb</p>

<%= form_with model: @shop, url: admin_shop_path(@shop), local:true do |f| %>
  <%= @shop.id %>
  <%= f.text_field :name %>
  <%= f.text_area :introduction %>
  <%= attachment_image_tag @shop, :shop_image, :fill, 60, 60, fallback: "img/no_image.jpg"%>
  <%= f.attachment_field :shop_image %>
  <%= f.email_field :email %>
  <%= f.text_field :address %>
  <%= f.text_field :phone_number %>
  <%= f.text_field :working_time %>

  <%= f.label :true %>
  <%= f.radio_button :is_active, :true %>

  <%= f.label :false %>
  <%= f.radio_button :is_active, :false %>

  <%= f.submit '編集する' %>
<% end %>