<h1>Admin::Shops#index</h1>
<p>Find me in app/views/admin/shops/index.html.erb</p>
<% if @shops.empty? %>
  <p>お店が登録されていません。</p>

<% else %>
  <% @shops.each do |shop| %>
    <%= shop.created_at %>
    <%= shop.id %>
    <%= link_to shop.name, admin_shop_path(shop) %>
    <%= shop.email %>
    <%= shop.is_active %>
  <% end %>
<% end %>
