<h2><%= @shop.name %>のお店登録情報</h2>

<div class="mt-3 p-3 border rounded">
  <div class="col-md-3">
    <p>ID</p>

    <p>店名</p>

    <p>店メールアドレス</p>

    <p>店住所</p>

    <p>店電話番号</p>

    <p>ステータス</p>
  </div>
  <div class="col-md-9">
    <p><%= @shop.id %></p>

    <p><%= @shop.name %></p>

    <p><%= @shop.email %></p>

    <p><%= @shop.address %></p>

    <p><%= @shop.phone_number %></p>

    <p><%= @shop.is_active %></p>

    <%= link_to '編集する', edit_admin_shop_path(@shop), class: "btn btn-success" %>
  </div>
</div>