<h2><%= @shop.name %>のお店登録情報</h2>

<%= link_to '編集する', edit_admin_shop_path(@shop), class: "btn btn-success" %>

<%= @shop.id %>

<%= @shop.name %>

<%= attachment_image_tag @shop, :shop_image, :fill, 60, 60, fallback: "no_image.jpg"%>

<%= @shop.introduction %>

<%= @shop.address %>

<%= @shop.phone_number %>

<%= @shop.working_time %>