<div class="border rounded p-3">

  <p><i class="fas fa-heart"></i> お気に入り/ <%= @food.favorite_foods.count %></p>
  <h1><%= @food.name %></h1>

  <%= attachment_image_tag @food, :image, width: '30%' %>

  <div class="row mt-3">
    <%= render 'layouts/food_info', food: @food %>
  </div>

      <%= link_to '編集する', edit_shop_food_path(@food), class: "btn btn-success" %>
      <%= link_to '削除する', shop_food_path, method: :delete, 'data-confirm' => '本当に削除しますか？', class: "btn btn-danger" %>

  <div class="row">
    <div class="col-md-12">
    <%= render 'layouts/user_like',
      sweet_like_average: @sweet_like_average,
      salty_like_average: @salty_like_average,
      bitter_like_average: @bitter_like_average,
      sour_like_average: @sour_like_average,
      spicy_like_average: @spicy_like_average
    %>

    <%= render 'layouts/review', reviews: @reviews %>
    </div>
  </div>
</div>
