<h1>Public::Foods#show</h1>
<p>Find me in app/views/public/foods/show.html.erb</p>
<%= @food.favorite_foods.count %>

<%= @food.shop.name %>

<%= attachment_image_tag @food.shop, :shop_image, :fill, 30, 30 %>

<%= @food.name %>

<%= attachment_image_tag @food, :image, :fill, 60, 60 %>

<%= @food.introduction %>

<%= @food.genre.name %>

<%= @food.taste %>

<%= @food.price %>

<%= @food.calorie %>

<%= @food.food_temperature %>

<%= @food.sale_dates %>

<h2>また食べたい味と思ったユーザーの味の好み度統計</h2>

<%= @food.sweet_like %>
<%= @food.salty_like %>
<%= @food.bitter_like %>
<%= @food.sour_like %>
<%= @food.spicy_like %>

<% if user_signed_in? %>
  <% if @food.food_favorited_by?(current_user) %>
    <p>
      <%= link_to food_favorite_foods_path(@food), method: :delete do %>
        ♥<%= @food.favorite_foods.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to food_favorite_foods_path(@food), method: :post do %>
        ♡<%= @food.favorite_foods.count %> いいね
      <% end %>
    </p>
  <% end %>
<% end %>

<h2>レビューと評価</h2>

<%= @taste_strong_average.floor(1) %>

<p>レビューする</p>
<%= form_with model: @review, url: food_reviews_path(@food), method: :post, local:true do |f| %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :food_id, :value => params[:id] %>

  <%= f.text_area :body %>

  <%= f.range_field :smell_strong, in: 0..10 %>
  <%= f.range_field :taste_strong, in: 0..10 %>

  <%= f.label :repeat %>

  <%= f.radio_button :repeat, true, :chacked => true %>
  <%= f.radio_button :repeat, false %>

  <div class="field" id="star-rating">
    <%= f.label :taste_score %>
    <%= f.hidden_field :taste_score, id: :review_star %>
  </div>

  <%= f.submit 'レビューを投稿する' %>
<% end %>

<% if @reviews.empty? %>
  <p>レビューがまだありません。</p>
<% else %>
  <% @reviews.each do |review| %>
      <%= review.body %>
      <%= review.user.name %>
    <div id="star-raty-<%= review.id %>">
      <%= review.taste_score %>
    </div>
      <%= review.repeat %>
    <script>
      $('#star-raty-<%= review.id %>').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf : '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: '<%= review.taste_score %>'
      });
    </script>
  <% end %>
<% end %>

<script>
  $('#star-rating').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    half: true,
    scoreName: 'review[taste_score]'
  });
</script>