<h1>Public::Foods#show</h1>
<p>Find me in app/views/public/foods/show.html.erb</p>
<%= @food.favorite_foods.count %>

<%= @food.shop.name %>

<%= attachment_image_tag @food.shop, :shop_image, :fill, 30, 30 %>

<%= @food.name %>

<%= attachment_image_tag @food, :image, :fill, 60, 60 %>

<%= @food.introduction %>

<%= @food.genre.name %>

<%= @food.taste %>

<%= @food.price %>

<%= @food.calorie %>

<%= @food.food_temperature %>

<%= @food.sale_dates %>

<h2>また食べたい味と思ったユーザーの味の好み度統計</h2>

<%= @sweet_like_average %>
<%= @salty_like_average %>
<%= @bitter_like_average %>
<%= @sour_like_average %>
<%= @spicy_like_average %>

<%= range_field @food, :sweet_like, :disabled => true %>
<%= range_field @food, :salty_like, :disabled => true %>
<%= range_field @food, :bitter_like, :disabled => true %>
<%= range_field @food, :sour_like, :disabled => true %>
<%= range_field @food, :spicy_like, :disabled => true %>

<% if user_signed_in? %>
  <% if @food.food_favorited_by?(current_user) %>
    <p>
      <%= link_to food_favorite_foods_path(@food), method: :delete do %>
        ♥<%= @food.favorite_foods.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to food_favorite_foods_path(@food), method: :post do %>
        ♡<%= @food.favorite_foods.count %> いいね
      <% end %>
    </p>
  <% end %>
<% end %>

<h2>レビューと評価</h2>