  <div id="favorite_food_buttons_<%= @food.id %>">
     <%= render'public/favorite_foods/favorite_food', food: @food %>
  </div>

  <div class="row mt-3 p-3">
    <%= render 'layouts/food/food_info', food: @food %>
  </div>

<%= render 'layouts/user_like',
  sweet_like_average: @food.sweet_like_average,
  salty_like_average: @food.salty_like_average,
  bitter_like_average: @food.bitter_like_average,
  sour_like_average: @food.sour_like_average,
  spicy_like_average: @food.spicy_like_average
%>

<h2>レビューと評価</h2>

香りの強さ<%= @food.taste_strong_average.floor(1) %>
味の濃さ<%= @food.smell_strong_average.floor(1) %>


<% if user_signed_in? %>

  <% if @your_review.nil? %>
    <p>レビューする</p>

    <%= form_with model: @review, url: food_reviews_path(@food), method: :post, local:true do |f| %>

      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :food_id, :value => params[:id] %>
      <%= f.hidden_field :sweet_like, :value => current_user.sweet_like_before_type_cast %>
      <%= f.hidden_field :salty_like, :value => current_user.salty_like_before_type_cast %>
      <%= f.hidden_field :bitter_like, :value => current_user.bitter_like_before_type_cast %>
      <%= f.hidden_field :sour_like, :value => current_user.sour_like_before_type_cast %>
      <%= f.hidden_field :spicy_like, :value => current_user.spicy_like_before_type_cast %>

      <%= f.text_area :body %>

      <%= f.label :smell_strong %>
      <%= f.range_field :smell_strong, in: 0..10 %>

      <%= f.label :taste_strong %>
      <%= f.range_field :taste_strong, in: 0..10 %>

      <%= f.label :repeat %>

      <%= f.radio_button :repeat, true, :chacked => true %>
      <%= f.radio_button :repeat, false %>

      <div class="field" id="star-rating">
        <%= f.label :taste_score %>
        <%= f.hidden_field :taste_score, id: :review_star %>
      </div>

      <%= f.submit 'レビューを投稿する' %>
    <% end %>
  <% else %>

  <p>投稿したレビュー</p>
    <%= @your_review.body %>
    <div id="your-star-raty-<%= @your_review.id %>">
      <%= @your_review.taste_score %>
    </div>
    <%= link_to '編集する', edit_food_reviews_path(@food.id) %>
        <script>
      $('#your-star-raty-<%= @your_review.id %>').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf : '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: '<%= @your_review.taste_score %>'
      });
    </script>
      <%= @your_review.repeat %>
  <% end %>

<% else %>
  <p>新規登録 / ログインでレビュー投稿ができます。</p>
<% end %>

<%= render 'layouts/review', reviews: @reviews %>

<script>
  $('#star-rating').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    half: true,
    scoreName: 'review[taste_score]'
  });
</script>