<div class="bg-light rounded p-3 shadow">
  <div class="row">
    <% if @genre_search.present? %>
        <div class="col-md-9">
          <h2>「<%= Genre.find(@genre_search).name %>」の検索結果</h2>

          <% if @foods.empty? %>
            <p class="text-center p-5">「<%= Genre.find(@genre_search).name %>」に該当する食べ物は見つかりませんでした。</p>
          <% else %>
            <div class="d-flex flex-wrap mt-3 align-items-center">
              <%= render 'layouts/food/foods', foods: @foods %>
            </div>
          <% end %>
        </div>

        <div class="col-md-3">
          <%= render 'public/genre_taste_search', genres: @genres, tastes: @tastes %>
        </div>
    <% elsif @taste_search.present? %>
        <div class="col-md-9">
          <h2>「<%= @taste_search_word %>」の検索結果</h2>

          <% if @foods.empty? %>
            <p class="text-center p-5">「<%= @taste_search_word %>」に該当する食べ物は見つかりませんでした。</p>
          <% else %>
            <div class="d-flex flex-wrap mt-3 align-items-center">
              <%= render 'layouts/food/foods', foods: @foods %>
            </div>
          <% end %>
        </div>

        <div class="col-md-3">
          <%= render 'public/genre_taste_search', genres: @genres, tastes: @tastes %>
        </div>
      <% else %>
        <h2>「<%= @search %>」の検索結果</h2>

      <div class="col-md-12">
            <ul class="tab-list">
              <li class="tab box-active">食べ物 <%= @foods.count %></li>
              <li class="tab">お店 <%= @shops.count %></li>
              <li class="tab">ユーザー <%= @users.count %></li>
            </ul>
          <div class="tabbox-contents">
            <div class="tabbox box-show">
              <% if @foods.empty? %>
                <p>「<%= @search %>」に該当する食べ物は見つかりませんでした。</p>
              <% else %>
                <div class="d-flex flex-wrap mt-3 align-items-center">
                  <%= render 'layouts/food/foods', foods: @foods %>
                </div>
              <% end %>
            </div>

            <div class="tabbox">
              <% if @shops.empty? %>
                <p>「<%= @search %>」に該当するお店は見つかりませんでした。</p>
              <% else %>
                <div class="d-flex flex-wrap mt-3 align-items-center">
                  <%= render 'layouts/shop/shops', shops: @shops %>
                </div>
              <% end %>
            </div>

            <div class="tabbox">
              <% if @users.empty? %>
                <p>「<%= @search %>」に該当するユーザーは見つかりませんでした。</p>
              <% else %>
                <table class="table">
                  <% @users.each do |user| %>
                    <tr>
                      <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "rounded-circle" %></td>
                      <td><%= link_to user.name, user_path(user.id) %></td>
                    </tr>
                  <% end %>
                </table>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
