<table class="table">
  <tr>
    <th class="created_at">登録日時</th>
    <th class="id">ID</th>
    <th class="name">ニックネーム</th>
    <th class="email">メールアドレス</th>
    <th class="status">ステータス</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.created_at %></td>
      <td><%= user.id %></td>
      <td><%= link_to user.name, admin_user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= user.is_active ? '有効' : '退会済み' %></td>
    </tr>
  <% end %>
</table>

<div class="d-flex align-items-center justify-content-center">
  <%= paginate @users %>
</div>
