<div class="border rounded p-3">
  <h2 class="border-bottom"><%= @information.title %></h2>

  <p class="mt-3"><%= @information.body %></p>

  <%= @information.created_at %>

  <%= link_to '編集する', edit_admin_information_path, class: "btn btn-success" %>

  <%= link_to '削除する', admin_information_path, method: :delete, 'data-confirm' => '本当に削除しますか？', class: "btn btn-danger" %>
</div>