<div class="border rounded p-3">
  <h2><%= @information.title %></h2>

  <p class="border-bottom border-top mt-3 p-2"><%= @information.body %></p>

  <p><%= l @information.created_at %></p>

  <%= link_to '編集する', edit_admin_information_path, class: "btn btn-success" %>

  <%= link_to '削除する', admin_information_path, method: :delete, 'data-confirm' => '本当に削除しますか？', class: "btn btn-danger" %>
</div>