<div class="col-md-6 p-3 border rounded">
  <p><%= food.introduction %></p>
</div>

<div class="col-md-6 p-3 border rounded">
  <table class="borderless">
    <tr>
      <td>ジャンル</td>
      <td>: <%= food.genre.name %></td>
    </tr>
    <tr>
      <td>味</td>
      <td>: <%= food.taste_i18n %></td>
    </tr>
    <tr>
      <td>価格</td>
      <td>: <strong><%= food.tax_price.to_s(:delimited) %></strong>円(税込) (税抜き <%= food.price.to_s(:delimited) %>円)</td>
    </tr>
    <tr>
      <td>カロリー</td>
      <td>: <%= food.calorie %>kcal</td>
    </tr>
    <tr>
      <td>温度</td>
      <td>: <%= food.food_temperature_i18n %></td>
    </tr>
    <tr>
      <td>販売日</td>
      <td>: <%= l food.sale_dates %></td>
    </tr>
  </table>
</div>