<h2>ユーザー情報編集</h2>

<%= render 'layouts/error_messages', model: @user %>

<div class="form-forizontal col-md-6 offset-md-3">
  <%= form_with model: @user, url: admin_user_path(@user), local:true do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.radio_button :is_active, :true %>
      <%= f.label :true, '有効'  %>

      <%= f.radio_button :is_active, :false %>
      <%= f.label :false, '退会済み'  %>
    </div>

    <div class="d-flex align-items-center justify-content-center">
      <%= f.submit '編集する', class: "btn btn-success" %>
    </div>
  <% end %>
</div>