<h1>Public::Users#edit</h1>
<p>Find me in app/views/public/users/edit.html.erb</p>
<%= link_to '退会する', confirm_path %>

<%= form_with model: @user, url: user_path(@user), local:true do |f| %>

  <%= f.attachment_field :profile_image %>

  <%= f.text_field :name, placeholder: 'コレうま子' %>
  <%= f.text_area :introduction, placeholder: '自己紹介をしましょう！・好きな食べ物は？・どんなジャンルの食べ物が好きですか？' %>
  <%= f.email_field :email %>

  <%= f.label :sweet_like %>
  <%= f.collection_radio_buttons :sweet_like, User.sweet_likes_i18n, :first, :last do |b| %>
    <%= b.label(class: "radio_button") { b.radio_button(class: "radio_button") + b.text } %><br>
  <% end %>

  <%= f.label :salty_like %>
  <%= f.collection_radio_buttons :salty_like, User.salty_likes_i18n, :first, :last do |b| %>
    <%= b.label(class: "radio_button") { b.radio_button(class: "radio_button") + b.text } %><br>
  <% end %>

  <%= f.label :bitter_like %>
  <%= f.collection_radio_buttons :bitter_like, User.bitter_likes_i18n, :first, :last do |b| %>
    <%= b.label(class: "radio_button") { b.radio_button(class: "radio_button") + b.text } %><br>
  <% end %>

  <%= f.label :sour_like %>
  <%= f.collection_radio_buttons :sour_like, User.sour_likes_i18n, :first, :last do |b| %>
    <%= b.label(class: "radio_button") { b.radio_button(class: "radio_button") + b.text } %><br>
  <% end %>

  <%= f.label :spicy_like %>
  <%= f.collection_radio_buttons :spicy_like, User.spicy_likes_i18n, :first, :last do |b| %>
    <%= b.label(class: "radio_button") { b.radio_button(class: "radio_button") + b.text } %><br>
  <% end %>

  <%= f.submit '編集する' %>
<% end %>