<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>
<!--仮置き-->
<p>仮置きのユーザー一覧</p>
<% @users.each do |user| %>
  <%= link_to user.name, user_path(user.id) %>
<% end %>

<%= link_to '編集する', edit_user_path(@user) %><br>
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "img/no_image.jpg"%>
<%= @user.name %>
<%= @user.introduction %>
<%= @user.sweet_like %>
<%= @user.salty_like %>
<%= @user.bitter_like %>
<%= @user.sour_like %>
<%= @user.spicy_like %>

<%= link_to 'お気に入り食べ物一覧', user_favorite_foods_path(current_user) %>

<% if @favorite_foods.present? %>
  <% @favorite_foods.each do |food| %>
    <%= food.name %>
  <% end %>
<% end %>