<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>

<% if @user.id == current_user.id %>
  <%= link_to '編集する', edit_user_path(@user) %>
<% else %>
  <% if current_user.following?(@user) %>
    <%= link_to 'Unfollow', user_relationships_path(@user.id), method: :delete %>
  <% else %>
    <%= link_to 'follow', user_relationships_path(@user.id), method: :post %>
  <% end %>
<% end %>

<%= link_to @user.followings.count, user_followings_path(@user) %>フォロー
<%= link_to @user.followers.count, user_followers_path(@user) %>フォロワー
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "img/no_image.jpg"%>
<%= @user.name %>
<%= @user.introduction %>
<%= @user.sweet_like %>
<%= @user.salty_like %>
<%= @user.bitter_like %>
<%= @user.sour_like %>
<%= @user.spicy_like %>

<% if @favorite_foods.present? %>
  <% @favorite_foods.each do |food| %>
    <%= food.name %>
  <% end %>
  <%= link_to 'お気に入り食べ物一覧へ', user_favorite_foods_path(@user.id) %>
<% else %>
  <p>お気に入り登録した食べ物がありません。</p>
<% end %>

<% if @favorite_shops.present? %>
  <% @favorite_shops.each do |shop| %>
    <%= shop.name %>
  <% end %>
  <%= link_to 'お気に入りお店一覧へ', user_favorite_shops_path(@user.id) %>
<% else %>
  <p>お気に入り登録したお店がありません。</p>
<% end %>

<% if @reviews.present? %>
  <% @reviews.each do |review| %>
    <%= attachment_image_tag review.food, :image, :fill, 60, 60 %>
    <%= link_to review.food.name, food_path(review.food_id) %>
    <%= review.body %>
  <% end %>

  <%= link_to 'レビュー一覧へ', user_reviews_path(@user) %>
<% end %>
