<h2>また食べたい味と思ったユーザーの味の好み度統計</h2>

<table>
  <tr>
    <td>甘味</td>
    <td><%= sweet_like_average %></td>
  </tr>
  <tr>
    <td>塩味</td>
    <td><%= salty_like_average %></td>
  </tr>
  <tr>
    <td>苦味</td>
    <td><%= bitter_like_average %></td>
  </tr>
  <tr>
    <td>酸味</td>
    <td><%= sour_like_average %></td>
  </tr>
  <tr>
    <td>辛味</td>
    <td><%= spicy_like_average %></td>
  </tr>
</table>

<p>※2.5に近いほど万人に好まれている味です。</p>
