<!DOCTYPE html>
<html>
  <head>
    <title>Koreuma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow">
      <div class="container-md pb-3">
        <div class="row">
            <div class="col-md-4">
              <h1><%= link_to 'コレうま！', root_path %></h1>
                <%= render 'layouts/search_form' %>
            </div>

            <div class="col-md-8">
              <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav">
                  <%= render 'layouts/header' %>
                </ul>
              </nav>
            </div>
        </div>

      </div>
    </header>

    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <div class="<%= controller.controller_name %>">
      <div class="container-md mt-3 mb-3">
        <%= yield %>
      </div>
    </div>

    <footer>
      <%= link_to 'お知らせ', informations_path %>
      <p>©コレうま！</p>
    </footer>
  </body>
</html>
