<!DOCTYPE html>
<html>
  <head>
    <title>Koreuma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>コレうま！</h1>

      <nav>
        <ul>
          <%= render 'layouts/header' %>
        </ul>
      </nav>

      <h2>検索box</h2>
    </header>
    <%= yield %>

    <footer>
      <%= link_to 'お知らせ', informations_path %>
      <p>©グルメレビューサイト コレうま！</p>
    </footer>
  </body>
</html>
